body {
    margin: 0;
    padding: 0% 20%;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

header h1 {
    background-color: gray;
    font-size: 3rem;
    font-weight: 1;
    color: white;
    padding: 25px;
    margin-top: 0;
}

.overview h2 {
    font-weight: 5;
    font-size: 20px;
    margin: 4px 0px 1px 50px;
    
}

.overview p {
    font-weight: 3;
    font-size: 20px;
    margin: 1px 50px 10px 50px;
}

.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 8px #888888;
}
hr {
    border: 0px white;
}

.icon {
    display: inline;
    padding-left: 190px;
}

.def h2 {
    font-weight: 5;
    font-size: 20px;
    margin: 4px 0px 0px 50px;
    padding: 5px 0px 10px 50px;
}

.def p {
    border-left: solid 100px grey;
    border-right: solid 100px grey;
    padding: 0px 9px 30px 25px;
    margin-top: 0;
    opacity: .45;
}

span {
    padding-left: 10px;
}

footer {
    float: right;
    font-size: 15px
}

